	<!-- Sentimentalizer -->
	<!-- Sentimentilizer.analyze(string) -->


	<!-- SAD PANDA -->
<div class="page-header">
  <h1>Review: 
  	<small><hr>
  	<% @review.review%>
  </small></h1>
</div>


   <%  @review_string = @review.review %>




	<% @sentiment_state = JSON.parse(Sentimentalizer.analyze(@review_string)) %>

	<% @sentiment_state["probability"] %> 
	<% @sentiment_state["sentiment"] %>
    <% @review_sentiment  %>
	<% @review_polarity  %>
	 <% @review_emotion %>


<hr>
 <div class="row-fluid padded10">
         <h1 style="text-align:center"> Review : <%= @review.review %>  </h1>
         <hr>  
        <div class="span3 center">
          <div class="stat-box medium-blue">
            <i class="icon icon-large"></i>
                        <span class="stat-text" style="padding-top:10px">Review Probability</span>

            <span class="count"><%= @sentiment_state["probability"] %></span>
          </div>
        </div>

        <div class="span2 center">
          <div class="stat-box dark-blue">
            <i class="icon- icon-large"></i>
            <span class="count"><%= @sentiment_state["sentiment"] %></span>
            <span class="stat-text">Review Sentiment</span>
          </div>
        </div>

        <div class="span2 center">
          <div class="stat-box border-blue">
            <i class="icon icon-large"></i>
            <span class="count"> <%= @review_emotion %></span>
            <span class="stat-text">Emotions</span>
          </div>
        </div>

        <div class="span2 center">
          <div class="stat-box text-blue">
            <i class="icon-hand-right icon-large"></i>
            <span class="count"><%= @review_polarity  %></span>
            <span class="stat-text">Review Polarity</span>
          </div>
        </div>

     </div>












   

	<hr>
	<%= link_to 'Edit', edit_review_path(@review) %> |
	<%= link_to 'Back', reviews_path %>

<hr>	
 
       <!--  <div class="span2 center">
          <div class="stat-box dark-blue">
            <i class="icon-envelope icon-large"></i>
            <span class="count">32</span>
            <span class="stat-text">Messages</span>
          </div>
        </div>

        <div class="span2 center">
          <div class="stat-box medium-blue">
            <i class="icon-comments-alt icon-large"></i>
            <span class="count">65</span>
            <span class="stat-text">Comments</span>
          </div>
           </div>
          -->
 